@import url('normalize.css');
.underline_hover{text-decoration:none;}.underline_hover:hover{text-decoration:underline;}
.link_color{color:#000000;}.link_color:hover{color:#666666;}
body,button,input,select,textarea{font-family:"Helvetica Neue",Arial,sans-serif;}
body{background-color:#eee;}
.wrapper{background-color:#fff;width:90%;margin:30px auto 50px;border:1px solid #bbb;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-webkit-box-shadow:0 1px 5px rgba(0, 0, 0, 0.1);-moz-box-shadow:0 1px 5px rgba(0, 0, 0, 0.1);-o-box-shadow:0 1px 5px rgba(0, 0, 0, 0.1);box-shadow:0 1px 5px rgba(0, 0, 0, 0.1);padding:20px;}
a{text-decoration:none;}a:hover{text-decoration:underline;}
header#masthead h1{font-weight:100;margin:5px 0;}
header#masthead nav#primary ul{padding:0;}header#masthead nav#primary ul li{display:inline;padding-right:1em;margin-right:1em;border-right:1px solid #ababab;}header#masthead nav#primary ul li:last-child{border-right:none;}
header#masthead nav#primary ul a{color:#000;font-weight:bold;font-size:13px;text-decoration:none;}header#masthead nav#primary ul a:hover{color:#666;}
#main{overflow:hidden;}#main #main_content{width:60%;float:left;padding-right:5%;}
#main #sidebar{width:30%;margin-right:5%;float:right;font-size:.85em;}
.wrapper>footer{width:100%;clear:both;font-size:.8em;border-top:1px solid #ddd;padding-top:2em;margin-top:2em;}
