/* Typography
+ + + + + + + + + + + + + + + + + + + + + + + + + + + */

@base_font: "Helvetica Neue", Arial, sans-serif;


/* Colours
+ + + + + + + + + + + + + + + + + + + + + + + + + + + */

@link_color: #000;
@link_color-hover: lighten(@link_color, 40%);